<header>
  <h1>Eat-Da-Burger!</h1>
</header>

<br>
<br>
<br>
<div class="wrapper">
  
	<section id="burgers-container">
		<div id="burgers-available">
			<h2>Burgers Available</h2>
			{{#each burgers}}
				{{#unless this.devoured}}
				  <div class="burger">
				    <form class="devour-burger-form" action="/{{id}}" method="PUT">
				  		<button class="eat-btn" data-id = "{{id}}">EAT</button>
				    </form>
						{{burgerName}} <span>#{{id}}</span>
				  </div>
				{{/unless}}
			{{/each}}
		</div>
    <br>
    <br>
		<div id="burgers-devoured">
			<h2>Burger Graveyard</h2>
			{{#each burgers}}
				{{#if this.devoured}}
				  <div class="burger">{{burgerName}} <span>#{{id}}</span></div>
				{{/if}}
			{{/each}}
		</div>
	</section>

  <div id="create-burger">
    <h2>Add a Burger</h2>
    <form action="/" method="POST">
      <input id="burger-name" type="text" name="burgerName" placeholder="Create a burger">
      <button id="submit-btn" type="submit">Make Burger!</button>
    </form>
  </div>
</div>


